<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>aprendiendoSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD8B0BDF1BD7CEFE00178894</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD8B0BF31BD7CEFF00178894</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD8B0BFE1BD7CEFF00178894</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
